URxvt.font:           xft:MesloLGS NF:size=11
URxvt.boldFont:       xft:DejaVuSansMono-Bold:size=12
URxvt.italicFont:     xft:DejaVuSansMono-Italic:size=10
URxvt.boldItalicFont: xft:DejaVuSansMono-Oblique:size=12

URxvt*depth: 32
URxvt.foreground      :#F4EFD6
URxvt.background      :[85]#4E4E4E
URxvt.fontColor       :#ffffff
URxvt.blurRadius      :10

*color1      :#E44B4B
*color4      :#0091F1
*color12     :#48B3FB