

entry {
    placeholder: "Type here to filter";
    cursor: pointer;
}

element {
    orientation: horizontal;
    children: [ element-icon, element-text ];
    spacing: 7px;
}

element-icon {
    size: 1.5em;
}
